#StorageHeader {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0%;
    /*top:140px;*/
    top: 30%;
    text-align: left;
}

pre {
    font-weight: bold;
    font-size: large;
}

.IngredientSearchBar {
    margin-top: 2%;
    margin-bottom: 6%;
}

button {
    border: 0;
    background-color: white;
}

.SearchInput {
    border: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px gray;
    margin-right: 10px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    outline: 0;
    height: 30px;
    width: 50%;
}

.Modal{
background-color: white;
  width: 20%;
  min-width: 300px;
  max-width: 600px;
  height: 60%;
  overflow-y: auto;
  position:fixed;
  left: 50%;
  top: 60%;
  padding: 5px;
  transform: translate(-50%, -50%);
  z-index: 1011;
  border-radius: 10px;
}

.BackStyle{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: rgba(0, 0, 0, 0.65);
}

.StorageList{
    margin-top: 20%;
}

#root > div > div > div.content > div{
    margin-top : 30%
}

#StorageTable {
    border-collapse: collapse;
    width: 80%;
    position: absolute;
    top: 60%;
    margin-left: 15%;
}
/* table th,table td {
    border:1px solid #000;
} */

#StorageTable th {
    padding-top: 2%;
    padding-bottom: 2%;
}

.name{
    text-align: left;
    padding-left: 10%;
}
#fast{
    padding-left: 20%;
    text-align: left;
}

#SearchTable{
    width: 90%;
    position: relative;
    top: 15%;
    margin-left: 10%;
}

#SearchTable>button{
    width:100%;
}

h4{
    position: relative;
    top: 5%;
}

#closeBtn{
    position: relative;
    top: 30%;
    padding-bottom: 10px;
}

.storage__title{
    text-align: left;
    margin-left: 23%;
}